div.write_btn{
  text-align: center;
}

table{
  text-align: center;
}
th#num{
  width:7%;
}
th#title{
  width:45%;
}
th#user{
  width:25%;
}
th#time{
  width:15%;
}
th#view{
  width:8%;
}

h1#board_title{
  text-align: center;
  background-color: black;
  color: white;
}
